<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handjet&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="leftlogo">
            <img src="/static/Image/pencil.png">
            <p>
                Makaut<br>Organizer
            </p>
        </div>
        <div class="rightblock">
            <ul>
                <li>HOME</li>
                <li><a href="/syllabus" class="one"> SYLLABUS </a></li>
                <li>ABOUT US</li>
            </ul>
        </div>
    </nav>
    <div class="head">
        <h1>ORGANIZER</h1>
    </div>
    <div class="headdesc">
        <h1>The one and only solution to your <b>MAKAUT</b> semester exam preparations.</h1>
    </div>
    <div class="lastline">
        <h1>Explore our wide range of e-books, sample question papers, Previous year question papers and many more</h1>
    </div>
    <div class="start">
        <button>
            <a href="/choice">Get Started</a>
        </button>
    </div>
</body>
</html>