<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer</title>
    <link rel="stylesheet" href="/static/CSS/style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handjet&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="leftlogo">
            <img src="/static/Image/pencil.jpg">
            <p>
                Makaut<br>Organizer
            </p>
        </div>
        <div class="rightblock">
            <ul>
                <li><a href="index.html" class="one"> HOME</a></li>
                <li>SYLLABUS</li>
                <li>ABOUT US</li>
            </ul>
        </div>
    </nav>
    <div class="head">
        <h1>SYLLABUS</h1>
    </div>
    <br><br><br><br>
    <table>
        <tr>
          <th>Module</th>
          <th>Content</th>
          <th>Hours</th>
        </tr>
        <tr>
          <td>Row 1, Cell 1</td>
          <td>Row 1, Cell 2</td>
          <td>Row 1, Cell 3</td>
        </tr>
        <tr>
          <td>Row 2, Cell 1</td>
          <td>Row 2, Cell 2</td>
          <td>Row 2, Cell 3</td>
        </tr>
        <tr>
          <td>Row 3, Cell 1</td>
          <td>Row 3, Cell 2</td>
          <td>Row 3, Cell 3</td>
        </tr>
      </table>
</body>
</html>