<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer</title>
    <link rel="stylesheet" href="/static/CSS/style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handjet&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="leftlogo">
            <img src="/static/Image/pencil.png">
            <p>
                Makaut<br>Organizer
            </p>
        </div>
        <div class="rightblock">
            <ul>
                <li><a href="/" class="one"> HOME</a></li>
                <li>SYLLABUS</li>
                <li>ABOUT US</li>
            </ul>
        </div>
    </nav>
    <div class="head">
        <h1>SYLLABUS</h1>
    </div>
    <br><br>
    <h2 class="head">B.Tech in Electrical Engineering</h2>
    <br><br>
    <h2 class="head">1st SEMESTER</h2>
    <br>
    <h2 class="head">CHEMISTRY(BS-CH101)</h2>
    <br>
    <table class="table">
        <tr>
          <th>Module</th>
          <th>Content</th>
          <th>Hours</th>
        </tr>
        <tr>
          <td>1</td>
          <td><strong>Atomic and molecular structure </strong> <br>
            Schrodinger equation. Particle in a box solutions and their applications for simple sample. Molecular orbitalsof diatomic molecules (e.g.H2). Energy level diagrams of diatomic. Pi-molecular orbitals of butadieneandbenzene and aromaticity. Crystal field theory and the energy level diagrams for transition metal ions and their magnetic properties. Band structure of solids and the role of doping </td>
          <td>10</td>
        </tr>
        <tr>
          <td>2</td>
          <td><strong> Spectroscopic techniques and applications</strong><br>
            Principles of spectroscopy and selection rules. Electronic spectroscopy. Fluorescence and its applicationsinmedicine. Vibrational and rotational spectroscopy of diatomic molecules. Applications. Nuclear magneticresonance and magnetic resonance imaging, surface characterisation techniques. Diffraction and scattering</td>
          <td>8</td>
        </tr>
        <tr>
          <td>3</td>
          <td><strong> Intermolecular forces and potential energy surfaces</strong><br>
            Ionic, dipolar and van Der Waals interactions. Equations of state of real gases and critical phenomen</td>
          <td>4</td>
        </tr>
        <tr>
          <td>4</td>
          <td><strong> Use of free energy in chemical equilibria</strong><br>
            First and second laws of thermodynamics and thermodynamic functions: energy, entropy andfreeenergy.Estimations of entropy and free energies. Free energy and emf. Cell potentials, the Nernst equationandapplications. Acid base, oxidation reduction and solubility equilibria. Water chemistry. Corrosion. Useoffreeenergy considerations in metallurgy through Ellingham diagrams.</td>
          <td>8</td>
        </tr>
        <tr>
          <td>5</td>
          <td><strong> Periodic Properties</strong><br>
            Effective nuclear charge, penetration of orbitals, variations of s, p, d and f orbital energies of atomsintheperiodic table, electronic configurations, atomic and ionic sizes, ionization energies, electronaffinityandelectronegativity, polarizability, oxidation states, coordination numbers and geometries, hardsoft acidsandbases, molecular geometries</td>
          <td>4</td>
        </tr>
        <tr>
          <td>6</td>
          <td><strong> Stereochemistry</strong><br>
            Representations of 3 dimensional structures, structural isomers and stereoisomers, configurationsandsymmetry and chirality, enantiomers, diastereomers, optical activity, absolute configurationsandconformational analysis. Isomerism in transitional metal compounds</td>
          <td>4</td>
        </tr>
        <tr>
          <td>7</td>
          <td><strong> Organic reactions and synthesis of a drug molecule</strong><br>
            Introduction to reactions involving substitution, addition, elimination, oxidation, reduction, cyclizationandring openings. Synthesis of a commonly used drug molecule.</td>
          <td>4</td>
        </tr>
      </table>
      









      <br>
    <h2 class="head">MATHEMATICS-IB(BS-M102)</h2>
    <br>
    <table class="table">
        <tr>
          <th>Module</th>
          <th>Content</th>
          <th>Hours</th>
        </tr>
        <tr>
          <td>1</td>
          <td><strong>Calculus-Integration </strong> <br>
            Evolutes and involutes; Evaluation of definite and improper integrals; Beta and
            Gamma functions and their properties; Applications of definite integrals to
            evaluate surface areas and volumes of revolutions </td>
          <td>8</td>
        </tr>
        <tr>
          <td>2</td>
          <td><strong> Calculus-Differentiation</strong><br>
            Rolle’s Theorem, Mean value theorems, Taylor’s and Maclaurin’s theorems with
            remainders; Indeterminate forms and L'Hospital's rule; Maxima and minima.</td>
          <td>6</td>
        </tr>
        <tr>
          <td>3</td>
          <td><strong> Sequence and Series</strong><br>
            Convergence of sequence and series, tests for convergence; Power series, Taylor's series, series for exponential, trigonometric and logarithm functions;
            Fourier series: Half range sine and cosine series, Parseval’s theorem.</td>
          <td>11</td>
        </tr>
        <tr>
          <td>4</td>
          <td><strong> Multivariate Calculus</strong><br>
            Limit, continuity and partial derivatives, Directional derivatives, Total
            derivative; Tangent plane and normal line; Maxima, minima and saddle points;
            Method of Lagrange multipliers; Gradient, Curl and Divergence</td>
          <td>9</td>
        </tr>
        <tr>
          <td>5</td>
          <td><strong> Matrices</strong><br>
            Inverse and rank of a matrix, Rank-nullity theorem; System of linear equations;
            Symmetric, Skew-symmetric and Orthogonal matrices; Determinants;
            Eigenvalues and Eigenvectors; Diagonalization of matrices; Cayley-Hamilton
            Theorem, and Orthogonal transformation.</td>
          <td>8</td>
        </tr>
      </table>








      <br>
    <h2 class="head">Basic Electrical Engineering (ES-EE101)</h2>
    <br>
    <table class="table">
        <tr>
          <th>Module</th>
          <th>Content</th>
          <th>Hours</th>
        </tr>
        <tr>
          <td>1</td>
          <td><strong>DC Circuits </strong> <br>
            Electrical circuit elements (R, L and C), voltage and current sources, Kirchoff current andvoltagelaws, analysis of simple circuits with dc excitation. Superposition, Thevenin and NortonTheorems.Time-domain analysis of first-order RL and RC circuits. </td>
          <td>8</td>
        </tr>
        <tr>
          <td>2</td>
          <td><strong> AC Circuits</strong><br>
            Representation of sinusoidal waveforms, peak and rms values, phasor representation, real power,reactive power, apparent power, power factor. Analysis of single-phase ac circuits consistingofR,L,C, RL, RC, RLC combinations (series and parallel), resonance. Three phase balancedcircuits,voltage and current relations in star and delta connections. </td>
          <td>8</td>
        </tr>
        <tr>
          <td>3</td>
          <td><strong> Transformers</strong><br>
            Magnetic materials, BH characteristics, ideal and practical transformer, equivalent circuit, lossesintransformers, regulation and efficiency. Auto-transformer and three-phase transformer connections.</td>
          <td>6</td>
        </tr>
        <tr>
          <td>4</td>
          <td><strong> Use of free energy in chemical equilibria</strong><br>
            Generation of rotating magnetic fields, Construction and working of a three-phase inductionmotor,Significance of torque-slip characteristic. Loss components and efficiency, starting andspeedcontrolof induction motor. Single-phase induction motor. Construction, working, torque-speedcharacteristicand speed control of separately excited dc motor. Construction
            and working of synchronous generators</td>
          <td>8</td>
        </tr>
        <tr>
          <td>5</td>
          <td><strong> Power Converters</strong><br>
            DC-DC buck and boost converters, duty ratio control. Single-phase and three-phase voltagesourceinverters; sinusoidal modulation</td>
          <td>6</td>
        </tr>
        <tr>
          <td>6</td>
          <td><strong> Electrical Installations</strong><br>
            Components of LT Switchgear: Switch Fuse Unit (SFU), MCB, ELCB, MCCB, Types of WiresandCables, Earthing. Types of Batteries, Important Characteristics for Batteries. Elementarycalculationsfor energy consumption, power factor improvement and battery backup.</td>
          <td>6</td>
        </tr>
      </table>  <br>
    <h2 class="head">Chemistry-I Laboratory (BS-CH191)</h2>
    <br>
      <table class="table">
      <tr>
        <th>Serial No.</th>
        <th>Experiment</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          Conductometric titration for determination of the strength of a given HCl solution
          by titration against a standard NaOH solution </td>
      </tr>
      <tr>
        <td>2</td>
        <td>pH- metric titration for determination of strength of a given HCl solution against a
          standard NaOH solution. </td>
      </tr>
      <tr>
        <td>3</td>
        <td> Estimation of Ferrous Iron in a supplied Mohr’s
          salt solution by Permanganometry method</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Determination of strength of unknown alkali solution using strong acid
          solution</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Determination of strength of unknown alkali solution using strong acid
          solution</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Estimation of Ca − hardness and Mg − hardness of water separately by
          complexometric titration</td>
      </tr>
    </table>
    <br>



    <h2 class="head">Basic Electrical Engineering Laboratory (ES-EE191)</h2>
    <br>
    <table class="table">
      <tr>
        <th>Serial No.</th>
        <th>Experiment</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          Calibration of ammeter and Wattmeter. </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Determination of steady state response of R-L and R-C and R-L-C circuit and calculationof
          impedance and power factor. </td>
      </tr>
      <tr>
        <td>3</td>
        <td> (a) Open circuit and short circuit test of a single-phase transformer <br>
          (b) Load test of the transformer and determination of efficiency and regulation</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Measurement of power in a three phase unbalanced circuit by two wattmeter method. </td>
      </tr>
      <tr>
        <td>5</td>
        <td>Determination of Torque –Speed characteristics of separately excited DC motor.</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Determination of Torque speed characteristics and observation of direction reversal by changeofphase sequence of connection of Induction motor.</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Demonstration of components of LT switchgear</td>
      </tr>
    </table>
    <br>




    <h2 class="head">Engineering Graphics and Design (ES-ME191)</h2>
    <br>
    <table class="table">
      <tr>
        <th>Serial No.</th>
        <th>Experiment</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <strong>INTRODUCTION TO ENGINEERING DRAWING</strong> <br>
          Principles of Engineering Graphics and their significance, usage of
          Drawing instruments, lettering, Different types of lines and their use;
          Drawing standards and codes</td>
      </tr>
      <tr>
        <td>2</td>
        <td><strong>LETTERING, DIMENSIONING, SCALES </strong><br>
          Plain scale, Diagonal scale and Vernier Scales. </td>
      </tr>
      <tr>
        <td>3</td>
        <td> <strong>GEOMETRICAL CONSTRUCTION AND CURVES </strong> <br>
          Construction of polygons, Conic sections including the Rectangular
          Hyperbola (General method only); Cycloid, Epicycloid, Hypocycloid, Involute, Archemedian Spiral.</td>
      </tr>
      <tr>
        <td>4</td>
        <td><strong>PROJECTION OF POINTS, LINES AND SURFACES</strong> <br>
          Principles of Orthographic Projections-Conventions - 1st and 3rd angle
          projection, Projections of Points and lines inclined to both planes;
          Projections of planes (Rectangle, pentagon, Hexagon etc.) inclined Planes
          - Auxiliary Planes.</td>
      </tr>
      <tr>
        <td>5</td>
        <td><strong>PROJECTION OF REGULAR SOLIDS</strong> <br>
          Regular solids inclined to both the Planes- Auxiliary Views; Draw
          simple annotation, dimensioning and scale (Cube, Pyramid, Prism, Cylinder, Cone).</td>
      </tr>
      <tr>
        <td>6</td>
        <td><strong>OVERVIEW OF COMPUTER GRAPHICS, CUSTOMIZATION AND CAD DRAWING</strong> <br>
          listing the computer technologies that impact on graphical
          communication, Demonstrating knowledge of the theory of CAD
          software [such as: The Menu System, Toolbars (Standard, Object
          Properties, Draw, Modify and Dimension), Drawing Area (Background, Crosshairs, Coordinate System), Dialog boxes and windows, Shortcut
          menus (Button Bars), The Command Line (where applicable), The Status
          Bar, Different methods of zoom as used in CAD, Select and erase
          objects.; Isometric Views of lines, Planes, Simple and compound Solids];
          Set up of the drawing page and the printer, including scale settings, Setting up of units and drawing limits; ISO and ANSI standards for
          coordinate dimensioning and tolerancing; Orthographic constraints, Snap to objects manually and automatically; Producing drawings
          by using various coordinate input entry methods to draw straight lines, Applying various ways of drawing circles;</td>
      </tr>
    </table>
    <br>
    <hr class="ending-line">
    <br>
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <h2 class="head">2nd SEMESTER</h2>
    <br>
    <h2 class="head">PHYSICS(BS-PH201)</h2>
    <br>
    <table class="table">
        <tr>
          <th>Module</th>
          <th>Content</th>
          <th>Hours</th>
        </tr>
        <tr>
          <td>1</td>
          <td><strong>Mechanics </strong> <br>
            Problems including constraints & friction. Basic ideas of vector calculus andpartialdifferential equations. Potential energy function F = -grad V, equipotential surfaces andmeaningof gradient. Conservative and non-conservative forces. Conservation laws of energy&momentum.Non-inertial frames of reference. Harmonic oscillator; Damped harmonic motionforcedoscillations and resonance. Motion of a rigid body in a plane and in 3D. Angular velocityvector.Moment of inertia. </td>
          <td>7</td>
        </tr>
        <tr>
          <td>2</td>
          <td><strong> Optics</strong><br>
          
              ><u>Diffraction</u>:- Distinction between interference and diffraction, Fraunhofer and Fresnel diffraction, Fraunhoferdiffraction at single slit, double slit, and multiple slits ( only the expressions for max;min, &intensityand qualitative discussion of fringes); diffraction grating(resolution formulac only), characteristicsofdiffration grating and its applications.<br><br>
              ><u>Polarization</u>:- Introduction, polarisation by reflection, polarisation by double reflection, scatteringoflight, circular and elliptical polarisation, optical activity.<br><br>
              ><u>Laser</u>:- Principles and working of laser : population inversion, pumping, various modes, thresholdpopulation inversion with examples.
            </td>
          <td>5</td>
        </tr>
        <tr>
          <td>3</td>
          <td><strong> Electromagnetism and dielectric properties of materials.</strong><br>
            Maxwell’s equations. Polarisation, permeability and dielectric constant, polar andnon-polardielecrrics, internal fields in a solid, Clausius- Mossotti equation(expression only), applicationsofdielectrics.  Magnetisation , permeability and susceptibility, classificationof magnetic materials, ferromagnetism,magnetic domains and hysteresis, applications.</td>
          <td>8</td>
        </tr>
        <tr>
          <td>4</td>
          <td><strong> Quantum Mechanics</strong><br>
            Introduction to quantum physics, black body radiation, explanation using the photonconcept,Compton effect, de Broglie hypothesis, wave-particle duality, verification of matter waves,uncertainty principle, Schrodinger wave equation, particle in box, quantumharmonicoscillator,hydrogen atom</td>
          <td>16</td>
        </tr>
        <tr>
          <td>5</td>
          <td><strong> Statistical Mechanics</strong><br>
            Macrostate, Microstate, Density of states, Qualitative treatment of Maxwell Boltzmann, Fermi-Diracand Bose-Einstein statistics.</td>
          <td>8</td>
        </tr>
      </table>
      









      <br>
    <h2 class="head">MATHEMATICS-IIB(BS-M202)</h2>
    <br>
    <table class="table">
        <tr>
          <th>Module</th>
          <th>Content</th>
          <th>Hours</th>
        </tr>
        <tr>
          <td>1</td>
          <td><strong>Multivariate Calculus-Integration </strong> <br>
            Multiple Integration: Double integrals (Cartesian), change of order of integrationin double integrals, change of variables (Cartesian to Polar), Applications: Areas
            and volumes, Center of mass and Gravity (constant and variable densities); Triple
            integrals (Cartesian), Orthogonal curvilinear coordinates, Simple applications
            involving cubes, sphere and rectangular parallelepipeds; Scalar line integrals, vector line integrals, scalar surface integrals, vector surface integrals, Theorems of
            Green, Gauss and Stokes. </td>
          <td>11</td>
        </tr>
        <tr>
          <td>2</td>
          <td><strong> 1st Order Ordinary Differential Equations</strong><br>
            Exact, linear and Bernoulli’s equations, Equations not of first degree: equations
            solvable for p, equations solvable for y, equations solvable for x and Clairaut’s
            type.</td>
          <td>6</td>
        </tr>
        <tr>
          <td>3</td>
          <td><strong> Ordinary Differential Equations of Higher Orders</strong><br>
            Second order linear differential equations with constant coefficients, Use of D- operators, Second order linear differential equations with variable coefficients, method of variation of parameters, Cauchy-Euler equation; Power series solutions;
            Legendre polynomials, Bessel functions of the first kind and their properties.</td>
          <td>9</td>
        </tr>
        <tr>
          <td>4</td>
          <td><strong> Complex Variable-Differentiation</strong><br>
            Differentiation of complex functions, Cauchy-Riemann equations, Analytic
            functions, Harmonic functions, determination of harmonic conjugate, elementaryanalytic functions (exponential, trigonometric, logarithmic) and their properties;
            Conformal mappings, Mobius transformations and their properties.</td>
          <td>6</td>
        </tr>
        <tr>
          <td>5</td>
          <td><strong> Complex Variable-Integration</strong><br>
            Contour integrals, Cauchy-Goursat theorem (without proof), Cauchy integral
            formula (without proof), Liouville’s theorem and Maximum-Modulus theorem(without proof); Taylor’s series, Zeros of analytic functions, Singularities, Laurent’s series; Residues, Cauchy residue theorem (without proof), Evaluation of
            definite integral involving sine and cosine, Evaluation of certain improper integrals
            using the Bromwich contour.
            </td>
          <td>8</td>
        </tr>
      </table>








      <br>
    <h2 class="head">Programming for Problem Solving (ES-CS201)</h2>
    <br>
    <table class="table">
        <tr>
          <th>Module</th>
          <th>Content</th>
          <th>Hours</th>
        </tr>
        <tr>
          <td>1</td>
            <td><strong> INTRODUCTION TO PROGRAMMING</strong><br>
            Introduction to components of a computer system (disks, memory, processor, where a programisstored and executed, operating system, compilers etc.). Idea of Algorithm: steps to solve logical and numerical problems. Representation of Algorithm:
            Flowchart/Pseudocode with examples.
            From algorithms to programs; source code, variables (with data types) variables and memorylocations, Syntax and Logical Errors in compilation, object and executable code </td>
          <td>4</td>
        </tr>
        <tr>
          <td>2</td>
          <td><strong> ARITHMETIC EXPRESSIONS AND PRECEDENCE</strong><br></td>
          <td>2</td>
        </tr>
        <tr>
          <td>3</td>
          <td><strong> CONDITIONAL BRANCHING AND LOOPS</strong><br>
            Writing and evaluation of conditionals and consequent branching 
            Iteration and loops</td>
          <td>6</td>
        </tr>
        <tr>
          <td>4</td>
          <td><strong> ARRAYS</strong><br>
            Arrays (1-D, 2-D), Character arrays and Strings</td>
          <td>6</td>
        </tr>
        <tr>
          <td>5</td>
          <td><strong> BASIC ALGORITHMS</strong><br>
            Searching, Basic Sorting Algorithms (Bubble, Insertion and Selection), Finding roots of equations,notion of order of complexity through example programs (no formal definition required)</td>
          <td>6</td>
        </tr>
        <tr>
          <td>6</td>
          <td><strong> FUNCTIONS</strong><br>
            Functions (including using built in libraries), Parameter passing in functions, call by value, Passingarrays to functions: idea of call by reference</td>
          <td>5</td>
        </tr>
        <tr>
          <td>6</td>
          <td><strong> RECURSION</strong><br>
            Recursion, as a different way of solving problems. Example programs, such as FindingFactorial, Fibonacci series, Ackerman function etc. Quick sort or Merge sort.</td>
          <td>4-5</td>
        </tr>
        <tr>
          <td>6</td>
          <td><strong> STRUCTURES</strong><br>
            Structures, Defining structures and Array of Structures</td>
          <td>4</td>
        </tr>
        <tr>
          <td>6</td>
          <td><strong> POINTERS</strong><br>
            Idea of pointers, Defining pointers, Use of Pointers in self-referential structures, notionof linkedlist(no implementation)</td>
          <td>2</td>
        </tr>
        </table>




        <br>
        <h2 class="head">ENGLISH (HM-HU201)</h2>
        <br>
        <table class="table">
            <tr>
              <th>Module</th>
              <th>Content</th>
              <th>Hours</th>
            </tr>
            <tr>
              <td>1</td>
                <td><strong> VOCABULARY BUILDING</strong><br>
                  The concept of Word Formation: Compounding, Backformation, Clipping, Blending;Root words from foreign languages and their use in English;
                  Acquaintance with prefixes and suffixes from foreign languages in English to formderivatives; Synonyms, antonyms, and standard abbreviations:Acronyms</td>
              <td>4</td>
            </tr>
            <tr>
              <td>2</td>
              <td><strong> BASIC WRITING SKILLS</strong><br>
                Sentence Structures & Types: Simple, Compound, Complex;
                Use of phrases and clauses in sentences: Transformation of sentences, active, passive, narration; Importance of proper punctuation
                ; Creating coherence: Arranging paragraphs & Sentences in logical order
                ; Creating Cohesion: Organizing principles of paragraphs in documents
                ; Techniques for writing precisely
              </td>
              <td>2</td>
            </tr>
            <tr>
              <td>3</td>
              <td><strong> IDENTIFYING COMMON ERRORS IN WRITING</strong><br>
                Subject-verb agreement
                ; Noun-pronoun agreement
                ; Misplaced modifiers
                ; Articles
                ; Prepositions
                ; Redundancies
                ; Clichés</td>
              <td>6</td>
            </tr>
            <tr>
              <td>4</td>
              <td><strong> NATURE AND STYLE OF SENSIBLE WRITING</strong><br>
                ; Describing
                ; Defining
                ; Classifying
                ; Providing examples or evidence
                ; Writing introduction and conclusion</td>
              <td>6</td>
            </tr>
            <tr>
              <td>5</td>
              <td><strong> WRITING PRACTICES</strong><br>
                Comprehension
                ; Précis Writing
                ; Essay Writing
                ; Business Letter, Cover Letter & CV; E-mail</td>
              <td>6</td>
            </tr>
          </table>





      </table>  <br>
    <h2 class="head">Physics-I Laboratory (BS-PH291)</h2>
    <br>
      <table class="table">
      <tr>
        <th>Serial No.</th>
        <th>Experiment</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          Determination of dispersive power of the material of a prism </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Determination of wavelength of the given laser source by diffraction method </td>
      </tr>
      <tr>
        <td>3</td>
        <td> Determination of specific charge (e/m) of electron by J.J. Thompson’s method.</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Determination of dielectric constant of a given dielectric material.</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Determination of Hall coefficient of a semiconductor by four probe method.</td>
      </tr>
      <tr>
        <td>6</td>
        <td>To study current voltage characteristics, load response, areal characteristic and spectral response of a photovoltaic solar cell.</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Determination of Planck constant using photocell.</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Determination of Young’s modulus of elasticity of the material of a bar by the method of flexure.</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Determination of modulus of rigidity of the material of a rod by static method</td>
      </tr>
    </table>
    <br>



    <h2 class="head">Programming for Problem Solving Laboratory (ES-CS291)</h2>
    <br>
    <table class="table">
      <tr>
        <th>Serial No.</th>
        <th>Experiment</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          Simple computational problems using arithmetic expressions </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Problems involving if-then-else structures </td>
      </tr>
      <tr>
        <td>3</td>
        <td> Iterative problems e.g., sum of series</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Array manipulation </td>
      </tr>
      <tr>
        <td>5</td>
        <td>Matrix problems, String operations</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Simple functions</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Recursive functions</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Pointers and structures</td>
      </tr>
      <tr>
        <td>9</td>
        <td>File operations</td>
      </tr>
    </table>
    <br>




    <h2 class="head">Language Laboratory (HM-HU291)</h2>
    <br>
    <table class="table">
      <tr>
        <th>Serial No.</th>
        <th>Experiment</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
           </td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td> </td>
      </tr>
      <tr>
        <td>4</td>
        <td> </td>
      </tr>
      <tr>
        <td>5</td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td></td>
      </tr>
      <tr>
        <td>9</td>
        <td></td>
      </tr>
    </table>
    <br>




    <h2 class="head">Workshop/Manufacturing Processes (ES-ME292)</h2>
    <br>
    <table class="table">
      <tr>
        <th>Serial No.</th>
        <th>Experiment</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          Introduction to different types of manufacturing processes</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          Making mold from green sand</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Making a pin from mild steel rod using lathe machine </td>
      </tr>
      <tr>
        <td>4</td>
        <td> 3D Printing Technology</td>
      </tr>
      <tr>
        <td>5</td>
        <td>CNC machining and G-coding</td>
      </tr>
    </table>   
    <br>
    <hr class="ending-line">
    <br>
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

